/.vscode
/case.c
/case.exe
/Exercicio1-Aula4-Algoritmos_e_Programação_Estruturada.txt
/Exercicio1-Aula5-Algoritmos_e_Programação_Estruturada.txt
/Exercicio2-Aula4-Algoritmos_e_Programação_Estruturada.txt
/Exercicio3-Aula4-Algoritmos_e_Programação_Estruturada.txt
/nota.c
/nota.exe